Recettes.dtd

<!ENTITY Ingredients SYSTEM "Ingredients.xml">
<!ENTITY Auteurs SYSTEM "Auteurs.dtd">
<!ENTITY Categories SYSTEM "Categories.dtd">


<!ELEMENT Recettes (Recette*)>%Categories;
<!ELEMENT Recette (Titre,Resume,Photo,DatePublication,ListeIngredients,NbPersonnes,TempsPreparation,TempsCuisson,TempsRepos,Description,Note,ListeAuteurs)>
<!ELEMENT Titre (#PCDATA)>
<!ELEMENT Resume (#PCDATA)>
<!ELEMENT Photo (#PCDATA)>
<!ELEMENT DatePublication (#PCDATA)>
<!ELEMENT ListeIngredients (Ingredient*)>
<!ELEMENT Ingredient (#PCDATA)>
<!ELEMENT NbPersonnes (#PCDATA)>
<!ELEMENT TempsPreparation (#PCDATA)>
<!ELEMENT TempsCuisson (#PCDATA)>
<!ELEMENT TempsRepos (#PCDATA)>
<!ELEMENT Description (Etape*)>
<!ELEMENT Etape (#PCDATA)>
<!ELEMENT Note (#PCDATA)>
<!ELEMENT ListeAuteurs (Aute)>


<!ATTLIST Recette nom CDATA #REQUIRED difficulte (Très-facile|Facile|Normal|Difficile|Très-difficile) #REQUIRED>
<!ATTLIST Recette categorie IDREF #IMPLIED>
<!ATTLIST Ingredient nom CDATA #REQUIRED quantite CDATA #REQUIRED>
<!ATTLIST TempsPreparation unite (secondes|minutes|heures) #REQUIRED>
<!ATTLIST TempsCuisson unite (secondes|minutes|heures) #REQUIRED>
<!ATTLIST TempsRepos unite (secondes|minutes|heures) #REQUIRED>
<!ATTLIST Etape id CDATA #REQUIRED>

